/* fields */
.field {
  padding-left: 1.0em !important;
  padding-right: 1.0em !important;
  padding-bottom: 0.5em;
}

.field.empty {
  display: none !important;
}


/* sections */
.page-margins {
  padding: 0.0em 0.5em !important;
}

.sectionTitleExpanded, .sectionTitleCollapsed {
  margin-top: 0.5em !important;
}

.sectionTitleExpanded {
  background: #C1D6E7 !important;
}

.sectionTitleCollapsed {
  background: #82AED1 !important;
}

#requestContent {
  min-width: auto !important;
}


/* buttons */
#buttonContainer {
  background: #E6EFF6 !important;
}

.topButton1, .topButton2, .topButton3, .topButton4 {
  background: #065FA3 !important;
  border-radius: 4px;
  height: auto !important;
  line-height: auto !important;
  margin: 2px !important;
}

.topButton1 div, .topButton2 div, .topButton3 div, .topButton4 div, .toolbarLine_title {
  width: auto !important;
}


/* helpless */
.helpIcon, .fieldHelp {
  display: none;
}
