/* fields */
.field.cfield {
  overflow: auto !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 24px;
  min-width: 100px;
  width: 90% !important;
  margin-bottom: 3px;
}

.fieldPrompt {
  text-align: right;
  padding-right: 0.5em;
  padding-top: 0.49em;
  min-height: 24px;
}

.labelContainer {
  float: right !important;
  width: 20% !important;
}

.fieldContent {
  float: right !important;
  width: 80% !important;
}

.field.empty {
  display: none !important;
}


/* sections */
.page-margins {
  padding: 0.0em 0.5em !important;
}

.tcField {
  display: none !important;
}

.sectionContent {
  padding-top: 0px;
}

.sectionTitleExpanded, .sectionTitleCollapsed {
  margin-top: 0.5em !important;
}

.sectionTitleExpanded {
  background: #C1D6E7 !important;
}

.sectionTitleCollapsed {
  background: #82AED1 !important;
}

.outTCDiv {
  display: none;
}

#requestContent {
  min-width: auto !important;
}


/* buttons */
#buttonContainer {
  background: #E6EFF6 !important;
}

.topButton1, .topButton2, .topButton3, .topButton4 {
  background: #065FA3 !important;
  border-radius: 4px;
  height: auto !important;
  line-height: auto !important;
  margin: 2px !important;
}

.topButton1 div, .topButton2 div, .topButton3 div, .topButton4 div, .toolbarLine_title {
  width: auto !important;
}


/* helpless */
.helpIcon, .fieldHelp {
  display: none;
}
